.word-rotator-words b {
  display: none;
}
.word-rotator-words b.is-visible {
  display: inline;
}
@media (max-width: 992px) {
  .centered {
      width: 90%; /* Adjust the width as needed */
      margin: auto;
      padding: 5px;
      top: 40%; /* Adjust the vertical position as needed */
  }
  .word-rotator-words {
      display: block;
      text-align: center;
      margin-top: 10px; /* Add some space between words on small screens */
  }
  .word-rotator {
    white-space: normal !important;
    }
    
}

/* navbar */

.navbar-brand {
    display: flex;
    align-items: center;
  }

  .brand-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; 
  }
  .navbar-toggler{
    order: 3;
  }

  @media only screen and (min-width: 360px) {
    
    .offcanvas.offcanvas-end ul.navbar-nav li {
        
        padding-bottom: 5px; 
      }
    .offcanvas.offcanvas-end{
        transition: width 0.3s ease; 
        width: fit-content; 
        
        height: fit-content;
        
      }
      .offcanvas.show {
        width: fit-content;
      }
      .navbar-brand
      {
        font-size: 15px;
      }
      

}
  @media (min-width: 992px) {
    .brand-name {
      font-size: 360px;
      
    }
  }

 